Multiple headers in recursion

The current draft in section 4 states that

```
As HTTP header names MUST be unique and only occure once
```

Actually, [RFC7230](http://tools.ietf.org/html/rfc7230#section-3.2.2) states that multiples headers with same name can be used and they should have the same semantics than a comma-separated list.
Also, there is a typo in _occure_.


typo's fixed - there were a few :)

As for the multiple header issue; RFC7230 says ...

```
   A sender MUST NOT generate multiple header fields with the same field
   name in a message unless either the entire field value for that
   header field is defined as a comma-separated list [i.e., #(values)]
   or the header field is a well-known exception (as noted below).
```

I'm OK with the comma separated list; that works for me.

```
   A recipient MAY combine multiple header fields with the same field
   name into one "field-name: field-value" pair, without changing the
   semantics of the message, by appending each subsequent field value to
   the combined field value in order, separated by a comma.
```

This is the single exception and that's OK also ...

```
      Note: In practice, the "Set-Cookie" header field ([RFC6265]) often
      appears multiple times in a response message and does not use the
      list syntax, violating the above requirements on multiple header
      fields with the same name.
```

That all said; it's "7.  ABNF List Extension: #rule" that defines the comma. 

Now look at [RFC7231 Section 5.3.2](http://tools.ietf.org/html/rfc7231#section-5.3.2) for the Accept: header and you see a semicolon used to delimiter params. Very inconsistent. But thinking about it these are two different use-case. One is headers being merged and one is a list of acceptable values. I"m starting to think that the comma is the right answer for this draft. A semicolon isn't.


Indeed there's a whole world of different possibilities out there :-)

Cookies are separated by ";", other lists/sets with ","

At the end of the day, it almost doesn't really matter. We need _something_ if we're aiming for multiple entries. For example:

```
Server-ID: iata=lax, pop=1w
Server-ID: iata=sfo, hash=1A2B3C4D
```

Could either be:

`Server-ID: iata=lax, pop=1w; iata=sfo, hash=1A2B3C4D
`
... or ...
`Server-ID: iata=lax pop=1w; iata=sfo hash=1A2B3C4D`

... as long as values cannot have spaces in them.
